<h1>Dashboard</h1>
<p>Bem-vindo ao seu dashboard, <%= @user.name %>!</p>
<p>E-mail: <%= @user.email %></p>
<p>Data de Nascimento: <%= @user.date_of_birth %></p>
<p>Celular: <%= @user.phone %></p>
<%= button_to 'Logout', destroy_devise_user_session_path, method: :delete %>
<%= link_to "Cadastrar Animal", new_animal_path %>
<br>
<% if @animals.present? %>
  <% @animals.each do |animal| %>
    <div>
      <h3><%= animal.name %></h3>
      <p>Genêro: <%= animal.gender %></p>
      <p>Raça: <%= animal.breed %></p>
      <p>Idade: <%= animal.age %> anos</p>
      <p>Descrição: <%= animal.additional_info %></p>
      <p><%= link_to "Ver", animal_path(animal) %></p>
      <p><%= link_to "Editar", edit_animal_path(animal) %></p>
      <p><%= button_to 'Remover', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div>
  <% end %>
<% else %>
  <p>O site não possui animais cadastrados ainda.</p>
<% end %>