<h1>Cadastrar Novo Animal</h1>

<%= form_with(model: @animal, url: animals_path, local: true, html: { multipart: true }) do |form| %>
   <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <div>
    <%= form.label :gender %>
    <%= form.select :gender, ['Female', 'Male'] %>
  </div>

  <div>
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div>
    <%= form.label :additional_info %>
    <%= form.text_area :additional_info %>
  </div>

  <div>
    <%= form.submit "Cadastrar Animal" %>
  </div>
<% end %>