<h1><%= @animal.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @animal.additional_info %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @animal.gender %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', dashboard_path %>